<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.RoleDao">
    <select id="findAllRole" parameterType="int" resultType="Role">
        SELECT * FROM smbms_role
    </select>
    <select id="findRoleById" parameterType="int" resultType="Role">
        SELECT * FROM smbms_role WHERE id = #{roleId}
    </select>
    <insert id="addRole" parameterType="Role">
        INSERT INTO smbms_role (roleCode,roleName,createBy,creationDate)
        VALUES (#{roleCode},#{roleName},#{createBy},#{creationDate})
    </insert>
    <update id="updateRole" parameterType="Role">
        UPDATE sbmbs_role SET
        roleCode = #{roleCode},roleName = #{roleName},
        modifyBy = #{modifyBy},modifyDate = #{modifyDate}
        WHERE id = #{roleId}
    </update>
    <delete id="delRole" parameterType="int">
        DELETE from  smbms_role WHERE id = #{roleId}
    </delete>
</mapper>